.container {
  margin-top: 20px;
  display: flex;

  justify-content: space-between;
}
.container a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.container a:hover {
  text-decoration: none;
  color: #ccc;
  background-color: grey;
  padding: 5px;
}
.A {
  flex: 1;
  margin-left: 20px;
}

.B {
  margin-right: 30px;
}
.C {
  margin-right: 30px;
}
.D {
  margin-right: 30px;
}

h1 {
  color: rgb(22, 21, 21);
}
nav ul li {
  list-style: none;
  display: inline-flex;
}

p {
  margin: 10px 0px;
  text-align: justify;
}

.pt {
  color: #757575;
  margin: 18px 0px;
  text-align: justify;
}
.About {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  margin-top: 50px;
}
h3 {
  text-align: left;
  padding: 20px;
}

.hey {
  font: 15px "Times New Roman";
  color: #757575;
  margin-bottom: 5px;
  padding: 20px;
}
.adress {
  color: #607d8b;
  margin-bottom: 20px;
}
.contact {
}
.f {
  margin-bottom: 20px;
}
input {
  border: none;
  padding: 10px;
  width: 100%;
  border-bottom: 0.5px grey solid;
  opacity: 0.5;
}
.btn {
  opacity: 0.8;
  text-transform: capitalize;
  padding: 5px;
}
.btn :hover {
  text-transform: capitalize;
  padding: 5px;
  background-color: #757575;
}
